:root{
    --navbarfontsize: 18px;
    --navbarfontfamily: 'Lato';
    --herofontsize: 5rem;
    --herofontfamily: 'Sentient';
    --appstorefontfamily: 'Poppins';
    --appstorefontsize: 18px;
    --phonebackgroundcolor: #FCA311;
    --herobackgroundcolor: #14213D;
    --sectionsHeaderfontsize: 46px;
    --sectionsparagraphfontsize: 20px;
    --userfontdescriptionsize: 12px;
    --userfontfamily: 'inter';
    --userfontNameSize: 14px;
    --downloadparafontSize: 16px;
    --copyrightfontSize: 20px;
    --footerbgcolor: #262626;
}
*{
    margin:0;
    padding:0;
}
.main{
    margin-top: .5rem;
    width: 100%;
}
.hero-section{
    display: flex;
    width: 100%;
    height: 95vh;
}
.hero-content{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
}
.section{
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.hero-main{
    width: 60%;
    margin-left:5%;
}
.navbar{
    margin-top: 2rem;
    width: 80%;
}
.navbar > ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-family: var(--navbarfontfamily);
    font-size: var(--navbarfontsize);
    font-weight: bold;
    align-items: center;
    cursor: pointer;
}
.navbar ul>li:hover{
    color:#FCA311;
}
.hero-phone{
    width: 50%;
    height: 95vh;
    border:1px solid black;
    background-color: var(--herobackgroundcolor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
}
.hero-img-content{
    width:80%;
    display: flex;
    flex-flow: row-reverse;
}
.phone-img-hero{
    width: 80%;
}
.phone-contents{
    display: flex;
    justify-content: center;
}
.hero-text{
    font-family: var(--herofontfamily);
    font-size: var(--herofontsize);
    width: 80%;
    margin-bottom: 1.5rem;
}
.hero-text span{
    background-color: var(--phonebackgroundcolor);
}
.hero-text-think{
    font-family: var(--navbarfontfamily);
    font-size: var(--appstorefontsize);
    width: 80%;
    margin-bottom: 2rem;
}
button{
    cursor: pointer;
    border:none;
    background-color: transparent;
}
.btn-container{
    width: 70%;
    display: flex;
}
.btn-hero{
    background-color: black;
    color:white;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1rem;
}

.btn-hero:first-child{
    margin-right: 2rem;
}
.available{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.img-icon{
    background-color: black;
}
/*      Banner section    */
.banner{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 20vh;
}
.banner span:hover{
   /* background-color: #FCA311; */
    border-bottom: .05rem solid #FCA311;
}
.section-two{
    background-color: var(--herobackgroundcolor);
    display: flex;
    justify-content: space-around;
}
.section-two-infoContainer{
    width:50%;
    height: 80%;
    display: flex;
    justify-content: center;
}
.section-two-info{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.section-two h1{
    font-size: var(--sectionsHeaderfontsize); 
    font-family: var(--herofontfamily);
    color: white;
    width: 55%;
    height: 20%;
}
.section-two p{
    font-family: var(--sectionsparagraphfontsize);
    font-size: 2rem;
    width:100%;
    color:white;
}
.section-three{
    width: 40%;
    height: 70%;
    display: flex;
    flex-direction: column;
}
.section-three h1{
    font-size: var(--sectionsHeaderfontsize); 
    font-family: var(--herofontfamily);
    width:100%;
    height: 30%;
    font-weight: 500;
}
.more-info{
    font-size: 20px;
    display: flex;
    width: 10%;
    justify-content: center;
    font-family: 'Sentient';
    font-size: 20px;
    width:100%;
}
.percentages{
    width:70%;
    height: 80%;
    display:grid;
    grid-template: repeat(2, 50%) / repeat(2,50%);
}
.percentages div{
    display: flex;
    flex-direction: column;
}
.total{
    display: flex;
    width: 10%;
    justify-content: center;
    font-family: 'Sentient';
    font-size: 40px;
    width:100%;
    font-weight: bold;
}
.section-two button{
    width: 30%;
}

.orangebg{
    background-color: var(--phonebackgroundcolor);
}
.phone-container{
    width: 70%;
    height: 100%;
}
.content-section{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 70%;
    margin:auto;
    
}
.content-section h1{
    font-family: var(--herofontfamily);
    font-size: 60px;
    margin-bottom:3rem;
}
.content-section ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    list-style-position:inside;
}
.content-section li {
    list-style-type: none;
    display: flex;
    align-items: center;
  }
.content-section li::before{
    content: url('./img/options/tick.png');
    margin-right: 15px;
}
.fourth-section ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    list-style-position:inside;
}
.fourth-section h1{
    font-family: var(--herofontfamily);
    font-size: 60px;
    margin-bottom: 3rem;
}
.fourth-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    height: 80%;
    margin:auto;
}

.fourth li {
    list-style-type: none;
    display: flex;
    align-items: center;
  }
.fourth li::before{
    content: url('./img/options/heart.png');
    margin-right: 15px;
}


.download{
    width: 100%;
    border:1px solid black;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.download h1{
    font-size: 5rem;
    width: 40%;
    text-align: center;
    margin-bottom: 1rem;
}
.download-btn{
    width: 30%;
    display: flex;
}
.download button{
    width: 50%;
}
footer{
    width: 100%;
    background-color: #14213D;
}
footer li{
    color: white;
}
footer p{
    color:white;
}
.footer-section{
    width: 100%;
    min-height: 50vh;
    border:1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.footer-info{
    display: flex;
    flex-direction: column;
    width: 20%;
    min-height: 30vh;
    justify-content: space-between;
    align-items: center;
}

.footer-info-text{
    width: 75%;
    font-size: 1.5rem;
}
.footer-links{
    min-height: inherit;
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}
.footer-links div {
    width: 30%;
    min-height: inherit;
    display: flex;
    align-items: center;
 
}
.footer-links ul{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footer-links ul li{
    width: 100%;
    margin: 1.5rem  0;
    font-size: 1.05rem;
}

a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: #FCA311;
}
.copyright{
    width: 100%;
    background-color: #14213D;
    color:white;
    height: 10vh;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.trust{
    width: 100%;
    background-color: #14213D;
    height: 65vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.trust > p{
    width: 30%;
    color:white;
    font-size: 4rem;
}
.trust > div {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user-profile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 65%;
    padding:5%;
}
.user-profile > p{
    width: 90%;
    padding:2rem;
    margin: .5rem;
    font-size: 1.5rem;
    max-width: 90%;
    max-height: 30vh;
}
.user-profile > div {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}
.user-name{
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center ;
}